/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0;
    background: #ccc;
    color: #000;
    padding: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
  font-size: 1.2em;
  font-family: 'Lora', sans-serif;
  line-height: 1.4em;
}
body{
  width: 98%;
  /*background: url('../img/nice-snow.jpg') repeat;*/
  background: url('../img/light-grey.jpg') repeat;
  /*background: url('../img/green-dust-scratches.jpg') repeat;*/
  /*background: url('../img/symphony.jpg') repeat;*/
  margin: 0px;
  padding: 1%;
}
img{
  width: 100%;
  height: auto;
}
a{
  color: #333;
  text-decoration: none;
}
a:hover{
  color: #0059b3;
}
/*****HEADER******/
header{
  padding-top: 40px;
  width: 98%;
  font-family: 'Over the Rainbow', cursive;
  margin-bottom: 15px;
  /*border-bottom: 2px solid #333333;*/
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 0px;
  padding-right: 1%;
  padding-left: 1%;
}
  header h1{
    padding-bottom: 0px;
    text-align: center;
  }
    header h1 a{
      text-decoration: none;
      color: #333333;
    }
    /*Change format display: inline-block; above header*/
  nav{
    font-weight: 600;
    width: 94%;
  }
  nav ul{
      -webkit-padding-start: 0px;
      box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
    }
    nav ul li{
      list-style: none;
      padding: 10px;
      text-align: center;
      border: 1px solid #333333;
      }
      nav ul li a{
        text-decoration: none;
        color: #333333;
      }
/*****SIDEBAR*****/
aside .sidebar{
    width: 100%;
    clear: both;
  }
  aside .sidebar ul{
    display: flex;
    -webkit-padding-start: 0px;
    justify-content: space-between;
    align-items: center;
  }
    aside .sidebar ul li{
      list-style: none;
      display: inline-flex;
      padding-right: 20px;
      padding-left: 20px;
    }
      aside .sidebar ul li a{
        text-decoration: none;
        color: #333333;
      }
      aside .n-posts{
        display: none;
      }
      aside .n-posts .n-posts-item{
        display: none;
      }
        aside .n-posts .n-posts-item .n-posts-img{
        }
          aside .n-posts .n-posts-item .n-posts-container{
          }
      aside .tags{
        float: right;
        display: none;
      }
        aside .tags ul{
        }
          aside .tags ul  li{
            width: 20px;
            border: 1px solid #333;
            list-style: none;
            background-color: #eee;
            padding-right: 4px;
          }
/*****RECIPE INDEX CONTENT*****/
article{
  width: 100%;
  display: inline-block;
  }
  .main-content{
  display: inline-block;
  width: 90%;
  margin: 0 2.5% 20px 4.5%;
  clear: both;
  text-align: center;
  box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
  border: 1px solid #333;
  }
  .main-content h1{
    line-height: 1.2em;
  }
  .main-img{
    min-width: 150px;
    max-width: 750px;
    height: auto;
    border: 1px solid #333333;
  }
  .container{
    padding: 5px;
    background: #fff;
  }
    .container a{
      text-decoration: none;
      color: #333
    }
    .container a:hover{
      color: #0059b3;
    }
/*****RECIPE FEED ITEMS*****/
article section .feed{
  width: 96%;
  display: inline-block;
  clear: both;
  text-align: center;
  margin: 30px 1.98% 30px 1.98%;
}
 .feed-item{
    width:40%;
    height: auto;
    float: left;
    margin: 0 4.5% 20px 4.5%;
    border: 1px solid #333;
    text-align: center;
    box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
  }
    .feed-item .container{
      height: 60px;
    }
      .feed-item .container h3{
        font-size: .875em;
        margin: 0px;
      }
  .feed-img{
    min-width: 75px;
    max-width: 550px;
    height: auto;
    border: 1px solid #333333;
  }
/********BIO********/
article .bio, .fav-inspirations{
  width: 96%;
  padding: 2%;
  text-align: center;
  line-height: 1.6em;
  font-size: .75em;
}
.bio .main-content{
  background: none;
  border: none;
  box-shadow: none;
}
  .bio h3{
    font-family: 'Over the Rainbow', cursive;
    text-transform: lowercase;
  }
  .bio .bio-img img{
    border-radius: 50%;
    max-width: 450px;
    width: 100%;
    border: 1px solid #333;
    margin: 5px 0 10px 0;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 1px 6px 20px 1.5px rgba(0, 0, 0, 0.19);
  }
  .about-img img{
    border-radius: 25%;
    max-width: 450px;
    width: 100%;
    border: 1.5px solid #333;
    margin: 10px 0 10px 0;
    box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
  }
  .fav-inspirations{

  }
.fav-inspirations h2{

}
.inspirations{

}
  .inspirations h3{
    font-family: 'Over the Rainbow', cursive;

  }
/********RECIPES********/
#recipe{
  width: 90%;
  margin: 0 2.5% 20px 4.5%;
  clear: both;
  text-align: center;
  }
  #recipe header{
    padding-top: 0px;
  }
    #recipe header h1{
      line-height: 1.2em;
    }
.date-tags{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
  .date-tags a{
    text-decoration: none;
    color: #333;
  }
.recipe-page{
}
  .recipe-page .recipe-img{
    box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
    border: 1px solid #333;
  }
    .recipe-page .recipe-img img{
      min-width: 150px;
      max-width: 750px;
      height: auto;
      border: 1px solid #333333;

    }
  .recipe-page .recipe .container{
    box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
    border: 1px solid #333;
    padding: 5px;
    background: #fff;
    margin-bottom: 40px;
  }
    .recipe-page .recipe ul li{
      text-align: left;
    }
  .recipe-page .recipe h3{
    font-family: 'Over the Rainbow', cursive;
    text-align: center;
  }

/*****FOOTER*****/
footer{
  font-family: 'Over the Rainbow', cursive;
  width: 96%;
  clear: both;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 0px;
  padding-right: 1%;
  padding-left: 1%;
}
 .sidebar-footer{
    width: 100%;
    clear: both;
  }
  .sidebar-footer ul{
    display: flex;
    -webkit-padding-start: 0px;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
  }
    .sidebar-footer ul li{
      list-style: none;
      display: inline-flex;
      padding-right: 20px;
      padding-left: 20px;
    }
      .sidebar-footer ul li a{
        text-decoration: none;
        color: #333333;
      }
      .nav-footer{
        display: none;
        font-weight: 600;
        width: 94%;
      }
      .nav-footer ul{
          -webkit-padding-start: 0px;
        }
        .nav-footer ul li{
          list-style: none;
          padding: 10px;
          text-align: center;
          border: 1px solid #333333;
          }
          .nav-footer ul li a{
            text-decoration: none;
            color: #333333;
          }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width:764px){
/*****TABLET*****/
}
@media (min-width:960px){
/******DESKTOP*****/
  body{
    width: 96%;
    padding: 2%;
  }
  /*****HEADER******/
  header{
    padding-top: 60px;
    width: 96%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #eeeeee;
  }
  nav{
    width:auto;
  }
    nav ul{
      box-shadow: none;
    }
  nav ul li{
    list-style: none;
    display: inline-block;
    padding-right: 60px;
    border: none;
    }
    /*****SIDEBAR*****/
    aside{
        width: 20%;
        float: right;
        clear: both;
        margin-top: 10px;
        padding-right: 2%;
        min-width: 75px;
      }
      aside .sidebar{
        margin-bottom: 40px;
        width: 90%;
      }
      aside .sidebar ul{
        -webkit-padding-start: 0px;
      }
        aside .sidebar ul li{
          list-style: none;
          display: inline-block;
          padding-right: 20px;
          padding-left: 45px;
        }
          aside .sidebar ul li a{
            text-decoration: none;
            color: #333333;
          }
      aside .n-posts{
        float: right;
        display: inline-block;
        width: 90%;
        clear: both;
        min-width: 75px;
        height: auto;
        border: 1px solid #333;
        box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
        margin-bottom: 50px;
      }
        aside .n-posts h3{
          font-family: 'Over the Rainbow', cursive;
          text-align: center;
          border-bottom: 1px dotted #444;
          margin-bottom: 5px;
        }
        aside .n-posts .n-posts-item{
          display: inline-block;
          width: 96%;
          margin: 0px;
          border: 0px;
          border-bottom: 1px dotted #444;
          margin: 5px;
        }
          aside .n-posts .n-posts-item .n-posts-img{
            width: 25%;
            border: 0px;
            display: inline-block;
            padding-bottom: 5
          }
            aside .n-posts .n-posts-item .n-posts-container{
              display: inline-block;
              border: 0px;
              margin: auto;
              padding: 5px;
            }
            aside .n-posts .n-posts-item .n-posts-container h3{
              font-family: 'Lora', serif;
              border-bottom: 0px;
            }
      aside .tags{
        float: right;
        clear: both;
        display: inline-block;
        width: 90%;
        min-width: 75px;
        border: 1px solid #333;
        box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
      }
        aside .tags h3{
          font-family: 'Over the Rainbow', cursive;
          text-align: center;
          border-bottom: 1px dotted #444;
          padding-bottom: 10px;
        }
        aside .tags ul{
          padding: 5px 5px 5px 15px;
          display:flex;
          flex-flow: wrap;
          justify-content: center;
          align-items: stretch;
        }
          aside .tags ul  li{
            margin: 8px;
            padding: 2px;
            clear: both;
            width: auto;
            border: 1px solid #333;
            list-style: none;
            background-color: #fff;
            padding-right: 4px;
          }
    /*****RECIPE INDEX CONTENT*****/
    article{
      display:inline-block;
      width: 77.9%;
      clear: both;
      margin-top: 30px;
       }
      .main-content{
        width: 94%;
        float: left;
        margin: 0 3% 20px 3%;
        box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
        border: 1px solid #333;
        background: #eee;
        }
        .main-img{
          float: left;
          margin:2%;
          min-width: 150px;
          max-width: 600px;
          width: 40%;
          height: auto;
          border:none;
          box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
        }
        .container{
          float: left;
          padding: 20px 10px 20px 10px;
          text-align: center;
          width: 50%;
          background: none;
          }
    /*****RECIPE FEED ITEMS*****/
       .feed{
         width: 94%;
         margin-top: 30px;
         margin-left: 3%;
         float: left;
         clear: both;
       }
       .feed-item{
          width: 17%;
          float: left;
          margin-left: 3%;
          margin-right: 7%;
          margin: 0 35px 48px 32.5px;
          border: 1px solid #333;
          box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
          }
          .feed-item .container{
            padding: 4px 0px 4px 0px;
            width: 100%;
            height: auto;
          }
            .feed-item .container h3{
              font-size: .875em;
              text-align: center;
            }
        .feed-img{
          min-width: 75px;
          max-width: 300px;
          height: auto;
          border: 1px solid #333333;
         }
    /********BIO********/
    article .bio{
      padding-top: 0px;
    }
      .bio{
        width: 94%;
        height: auto;
        padding: 0% 2% 2% 2%;
        text-align: center;
        line-height: 1.6em;
        font-size: 1.125em;
        display: inline-block;
        float: left;
        clear: both;
        }
        .bio .main-content{
          clear: both;
          float: left;
          font-size: 1em;
          display: inline-block;
          padding-bottom:0px;
          background: none;
          border: none;
        }
        .bio .main-content h3{
          margin: 0px;
          font-size: 2.25em;
          text-align: center;
          display: inline-block;
          margin-bottom: 20px;
        }
        .bio .main-content p{
          width: 40%;
          margin-top: 50px;
          display: inline-block;
          font-size: 1em;
          line-height: 1.75em;
        }
        .bio .main-content .bio-img img{
          float: left;
          margin: 0 5% 5% 5%;
          min-width: 150px;
          max-width: 600px;
          width: 30%;
          height: auto;
          border:none;
          clear: both;
        }
        .bio-container{
          width: 22%;
          margin: 0px 2% 1% 1%;
          display: inline-block;
          float: left;
        }
        .bio-container h3{
          font-family: 'Over the Rainbow', cursive;
          text-transform: lowercase;
        }
          .bio-container .bio-img img{
            border-radius: 50%;
            max-width: 350px;
            width: 100%;
            border: 1px solid #333;
            margin: 5px 0 10px 0;
            box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 1px 6px 20px 1.5px rgba(0, 0, 0, 0.19);
          }
          .about-img img{
            border-radius: 25%;
            max-width: 350px;
            width: 100%;
            border: 1.5px solid #333;
            margin: 10px 0 10px 0;
            box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
          }
          #foodspirations{
            width: 96%;
            background: #eee;
            padding: 1.5%;
            clear: both;
            border: 1px solid #333;
            box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);

          }
        .fav-inspirations{
          width: 115%;
          display: inline-block;
          float: left;
          clear: both;
        }
        .inspirations{
          width: 45%;
          margin: 0px 2% 1% 1%;
          display: inline-block;
        }
        .inspirations .about-img img{
          border-radius: 25%;
          max-width: 250px;
          width: 100%;
          border: 1.5px solid #333;
          margin: 10px 0 10px 0;
          box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
        }
          .inspirations h3{
            font-family: 'Over the Rainbow', cursive;
  }
  /********RECIPES********/
  article #recipe{

  }
  #recipe{
    width: 94%;
    display: inline-block;
    margin: 0 2.5% 20px 4.5%;
    clear: both;
    text-align: center;
    float: left;
    }
    #recipe header{
      padding-top: 0px;
      text-align: center;
    }
      #recipe header h1{
        margin-top: 0px;
        line-height: 1.2em;
      }
  .date-tags{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
    .date-tags a{
      text-decoration: none;
      color: #333;
    }
  .recipe-page{
    clear: both;
  }
    .recipe-page .recipe-img{
      width: 40%;
      margin-left: 29%;
      box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
      border: 1px solid #333;
      clear: both;
    }
      .recipe-page .recipe-img img{
        min-width: 150px;
        max-width: 600px;
        height: auto;
      }
      .recipe-page .recipe p{
        clear: both;
      }
    .recipe-page .recipe .container{
      width: 42%;
      box-shadow: .75px 4px 8px .75px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
      border: 1px solid #333;
      padding: 5px;
      background: #fff;
      margin-right: 4%;
      margin-bottom: 40px;
      display: inline-block;
    }
      .recipe-page .recipe ul li{
        text-align: left;
      }
    .recipe-page .recipe h3{
      font-family: 'Over the Rainbow', cursive;
      text-align: center;
    }
    /*****FOOTER*****/
    footer{
      width: 96%;
      border-top: 2px solid #eeeeee;
      clear: both;
    }
    footer nav{
      font-family: 'Over the Rainbow', cursive;
      display: flex;
      justify-content: center;
      align-items: baseline;
    }


}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
